<div id="ax-blocks">
  <div id="drilldown">{{product.name}}</div>
  
  <div class="blocks-list">
    <div class="block"  >
      <div class="block-details" ng-init="detailsDisabled=true">
      	<div class="header" id="title">Name</div>
      	<div class="header" id="background-color">Background Color</div>
      	<div class="header" id="background-color">Border Color</div>
      	<div class="header" id="background-color">Title Font Size</div>
      	<div class="header" id="background-color">Title Font  Color</div>
      	<div class="header" id="background-color">Desc Font Size</div>
      	<div class="header" id="background-color">Desc Font Color</div>
      </div>
      
    </div>
  </div>
  <div class="blocks-list">
    <div class="block" ng-repeat="block in blocks" >
      <div class="block-details" ng-init="detailsDisabled=true">
      	<div id="title">{{block.title}}</div>
      	<div id="background-color"><input type="text" value="{{block.backgroundColor}}" ng-model="block.backgroundColor" ng-disabled="detailsDisabled"/></div>
      	<div id="background-color"><input type="text" value="{{block.borderColor}}" ng-model="block.borderColor" ng-disabled="detailsDisabled"/></div>
      	<div id="background-color"><input type="number" value="{{block.titleFontSize}}" ng-model="block.titleFontSize" ng-disabled="detailsDisabled"/></div>
      	<div id="background-color"><input type="text" value="{{block.titleFontColor}}" ng-model="block.titleFontColor" ng-disabled="detailsDisabled"/></div>
      	
      	<div id="background-color"><input type="number" value="{{block.descFontSize}}" ng-model="block.descFontSize" ng-disabled="detailsDisabled"/></div>
      	<div id="background-color"><input type="text" value="{{block.descFontColor}}" ng-model="block.descFontColor" ng-disabled="detailsDisabled"/></div>
      	<div class="action-links">
	      	<a ng-click="detailsDisabled = false" ng-show="detailsDisabled">Edit</a>
	      	<a ng-click="detailsDisabled = true;updateBlock(block)" ng-show="!detailsDisabled">Save</a>
	    </div>
      </div>
      
    </div>
  </div>
  <form action="uploadFonts.do" method="post" enctype="multipart/form-data">
	  <div class="form-group">
		<div class="label">Header Font</div>
		<div class="field"><input type="file" name="headerFont"/></div>
	  </div>
	  <div class="form-group">
		<div class="label">Title Font</div>
		<div class="field"><input type="file" name="titleFont"/></div>
	  </div>
	  <div class="form-group">
		<div class="label">General Font</div>
		<div class="field"><input type="file" name="generalFont"/></div>
	  </div>
	  <div class="form-group">
		<div class="field"><input type="submit" id="submit-btn" /></div>
	  </div>
  </form>
</div>

