<div id="ax-product-graphics">
  <div id="drilldown">{{product.name}}>{{colorName}}</div>
  <div class="product-graphics-list">
    <div class="product-graphics-block" ng-repeat="productGraphics in productGraphics" >
      <div class="product-graphics-details" ng-init="detailsDisabled=true">
      	<div id="product-graphics-default"><input name="defaultColor" id="default-graphics-{{productGraphics.productGraphicsId}}" type="radio" ng-model="defaultGraphicsId" ng-disabled="detailsDisabled" ng-value="productGraphics.productGraphicsId"/></div>
        <div id="product-graphics-name"><input type="text" ng-model="productGraphics.name" value="{{productGraphics.name}}" ng-disabled="detailsDisabled"/></div>
      	<div class="action-links">
	      	<a ng-click="detailsDisabled = false" ng-show="detailsDisabled">Edit</a>
	      	<a ng-click="detailsDisabled = true;saveProductGraphics(productGraphics, defaultGraphicsId)" ng-show="!detailsDisabled">Save</a>
	      	<a ng-click="deleteProductGraphics(productGraphics.productGraphicsId)">Delete</a>
	      	<a href="" ui-sref="products_graphics_color({modelId: {{product.productId}}, colorId: {{productGraphics.productColorId}}, graphicsId: {{productGraphics.productGraphicsId}}, colorName: '{{colorName}}', graphicsName: '{{productGraphics.name}}' })">Graphics Color</a>
      	</div>
      </div>
      
    </div>
  </div>
  <div class="new-product-graphics-block">
  	<div class="title">Add New Product Graphics</div>
  	<form name="productGraphicsForm" ng-submit="addNewProductGraphics(productGraphicsForm.$valid)" novalidate>
 		<div class="form-group">
			<div class="label">Name</div>
			<div class="field"><input type="text" name="name" ng-model="productGraphics.name" ng-minlength="3" ng-maxlength="30" required/></div>
			<p ng-show="productGraphicsForm.name.$error.minlength" class="error-block">Name is too short.</p>
			<p ng-show="productGraphicsForm.name.$error.maxlength" class="error-block">Name is too long.</p>
		</div>
	  	<div class="form-group">
	  		<button id="submit-btn" type="submit" ng-disabled="productGraphicsForm.$invalid">Add</button>
	  	</div>
  	</form>
  	<div id="message" ng-show="result">{{result}}</div>
  </div>
</div>

